[Unit]
Description=Curtin FRC Vision Service

[Service]
Type=simple
Restart=always
ExecStart=/home/vision/run.sh
WorkingDirectory=/home/vision

[Install]
WantedBy=multi-user.target